node_modules
requests
<main>
        <div class="container">
            <form action="">
              <div class="group">      
                  <input type="text" required>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Search</label>
                </div>
            </form>
        </div>
      <h1>Hello world!</h1>
      <h2>Tip: Check your console</h2>
      <button class="button-33" role="button"><i class="fas fa-phone"></i></button>
      <button class="button-34" role="button">Delete</button>
      
     
    </main>




    /* CSS */
.button-33 {
  background-color: #d1f8df;
  border-radius: 10px;
  box-shadow: rgba(46, 49, 47, 0.2) 0 -25px 18px -14px inset,
    rgba(46, 49, 47, 0.2) 0 1px 2px, rgba(46, 49, 47, 0.2) 0 2px 4px,
    rgba(46, 49, 47, 0.2) 0 4px 8px, rgba(46, 49, 47, 0.2) 0 8px 16px,
    rgba(46, 49, 47, 0.2) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(46, 49, 47, 0.2) 0 -25px 18px -14px inset,
    rgba(46, 49, 47, 0.2) 0 1px 2px, rgba(46, 49, 47, 0.2) 0 2px 4px,
    rgba(46, 49, 47, 0.2) 0 4px 8px, rgba(46, 49, 47, 0.2) 0 8px 16px,
    rgba(46, 49, 47, 0.2) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.button-34 {
  background-color: #f3b7b7;
  border-radius: 10px;
  box-shadow: rgba(46, 49, 47, 0.2) 0 -25px 18px -14px inset,
    rgba(46, 49, 47, 0.2) 0 1px 2px, rgba(46, 49, 47, 0.2) 0 2px 4px,
    rgba(46, 49, 47, 0.2) 0 4px 8px, rgba(46, 49, 47, 0.2) 0 8px 16px,
    rgba(46, 49, 47, 0.2) 0 16px 32px;
  color: rgb(216, 31, 31);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-34:hover {
  box-shadow: rgba(46, 49, 47, 0.2) 0 -25px 18px -14px inset,
    rgba(46, 49, 47, 0.35) 0 1px 2px, rgba(46, 49, 47, 0.35) 0 2px 4px,
    rgba(46, 49, 47, 0.35) 0 4px 8px, rgba(46, 49, 47, 0.35) 0 8px 16px,
    rgba(46, 49, 47, 0.35) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

// input
// * { box-sizing:border-box; }
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* basic stylings ------------------------------------------ */
body {
  background: url(https://scotch.io/wp-content/uploads/2014/07/61.jpg);
}
.container {
  font-family: "Roboto", sans-serif;
  width: 600px;
  margin: 30px auto 0;
  display: block;
  background: #fff;
  padding: 10px 50px 50px;
}
h2 {
  text-align: center;
  margin-bottom: 50px;
}
h2 small {
  font-weight: normal;
  color: #888;
  display: block;
}
.footer {
  text-align: center;
}
.footer a {
  color: #53b2c8;
}

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 45px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
