#background {
  min-width: 400px;
  min-height: 400px;
  width: 100vw;
  aspect-ratio: 1/0.58;
  float: right;
  padding: 1em;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
}

:focus {
  outline: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -ms-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#main {
  // background-image: url(img/bg.jpg);
  margin: 2em 5em;
}

.element.custom {
  width: 75%;
  margin: 0 auto;
}

.element {
  background-color: #f3f3f3;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 5px 0px #000;
  -moz-box-shadow: 0px 1px 5px 0px #000;
  box-shadow: 0px 1px 5px 0px #000;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* === Header ==================== */
.element .element-header {
  background: #4173b1;
  border: 1px solid #37598a;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  height: 54px;
  padding: 16px;
  position: relative;
  z-index: 2;

  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.element .element-header h2 {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0 1px 0 #37598a;
  position: absolute;
  margin: 0;
}
.element .element-header input {
  //   background: #fff url(img/glass.png) no-repeat 6px center;
  border: 0;
  border-bottom: 1px solid #37598a;
  border-radius: 80px;
  float: right;

  margin: 0;
  width: 0;
  padding: 0 11px;
  height: 22px;

  color: #fff;
  font-size: 11px;
  line-height: 22px;
  text-indent: 300px;
}
.element .element-header input:focus + * {
  display: none;
}
.element .element-header input:focus {
  color: #858585;
  text-align: left;
  text-indent: 0;
  padding: 0 11px 0 22px;
  width: 100%;
}

/* === Content ==================== */
.element .element-content {
  position: relative;
  height: 387px;
}
.element .element-content:before {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  content: "";
  height: 5px;
  position: absolute;
  right: -1px;
  top: -5px;
  left: -1px;
  z-index: 1;
}

/* === Sidebar ==================== */
.element .element-sidebar {
  background-color: #dedede;
  border-left: 1px solid #c8c8c8;
  width: 17px;
  padding: 3px 0;
  text-align: center;

  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.element .element-sidebar a {
  display: block;
  color: #aaa;
  text-decoration: none;
  line-height: 14px;
  font-size: 11px;
}
.element .element-sidebar a:hover {
  color: #888;
  text-decoration: underline;
}

/* === List ==================== */
.element .list {
  margin: 0;
  padding: 0 0 353px 0;
  height: 386px;
  list-style: none;
  overflow: auto;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.element .list li {
  border-left: 3px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.element .list li[data-group="friends"] {
  border-left-color: #bdcb7f;
}
.element .list li[data-group="work"] {
  border-left-color: #9cc9cb;
}
.element .list li[data-group="family"] {
  border-left-color: #fba59d;
}
.element .list li {
  background: #f0f0f0;
  background: -moz-linear-gradient(top, #f0f0f0 1%, #eeeeee 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(1%, #f0f0f0),
    color-stop(100%, #eeeeee)
  );
  background: -webkit-linear-gradient(top, #f0f0f0 1%, #eeeeee 100%);
  background: -o-linear-gradient(top, #f0f0f0 1%, #eeeeee 100%);
  background: -ms-linear-gradient(top, #f0f0f0 1%, #eeeeee 100%);
  background: linear-gradient(top, #f0f0f0 1%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#eeeeee',GradientType=0 );

  border-bottom: 1px solid #d4d4d4;
  border-top: 1px solid #fff;
}
.element .list li:first-child {
  border-top: 0;
}
.element .list li a {
  display: block;
  padding: 8px;
  color: #727272;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
}
.element .list li a:hover {
  background: #f5f5f5;
  color: #555;
}
.element .list li a span {
  display: block;
  color: #b5b5b5;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
}
.element .list li .add-new {
  display: block;
  color: #787878;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}

main {
  display: flex;
}

main .rightDiv {
  width: 60%;
}

main .leftDiv {
  width: 40%;
}

// buttons
/* CSS */
.button-call {
  background-color: #d1f8df;
  border-radius: 10px;
  transform: scale(0.7);

  box-shadow: rgba(46, 49, 47, 0.2) 0 -25px 18px -14px inset,
    rgba(46, 49, 47, 0.2) 0 1px 2px, rgba(46, 49, 47, 0.2) 0 2px 4px,
    rgba(46, 49, 47, 0.2) 0 4px 8px, rgba(46, 49, 47, 0.2) 0 8px 16px,
    rgba(46, 49, 47, 0.2) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-call:hover {
  box-shadow: rgba(46, 49, 47, 0.2) 0 -25px 18px -14px inset,
    rgba(46, 49, 47, 0.2) 0 1px 2px, rgba(46, 49, 47, 0.2) 0 2px 4px,
    rgba(46, 49, 47, 0.2) 0 4px 8px, rgba(46, 49, 47, 0.2) 0 8px 16px,
    rgba(46, 49, 47, 0.2) 0 16px 32px;
  transform: scale(0.8) rotate(-1deg);
}
.button-delete {
  background-color: #f3b7b7;
  border-radius: 10px;
  transform: scale(0.7);

  box-shadow: rgba(46, 49, 47, 0.2) 0 -25px 18px -14px inset,
    rgba(46, 49, 47, 0.2) 0 1px 2px, rgba(46, 49, 47, 0.2) 0 2px 4px,
    rgba(46, 49, 47, 0.2) 0 4px 8px, rgba(46, 49, 47, 0.2) 0 8px 16px,
    rgba(46, 49, 47, 0.2) 0 16px 32px;
  color: rgb(216, 31, 31);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-delete:hover {
  box-shadow: rgba(46, 49, 47, 0.2) 0 -25px 18px -14px inset,
    rgba(46, 49, 47, 0.35) 0 1px 2px, rgba(46, 49, 47, 0.35) 0 2px 4px,
    rgba(46, 49, 47, 0.35) 0 4px 8px, rgba(46, 49, 47, 0.35) 0 8px 16px,
    rgba(46, 49, 47, 0.35) 0 16px 32px;
  transform: scale(0.8) rotate(-1deg);
}
